<ol class="breadcrumb">
	<li>
		<%= link_to 'Home',root_path %>
	</li>
	<li>
		<%= link_to 'Strategy',strategy_path %>
	</li>
	<li class="active">Forecheck</li>
</ol>

<nav>
	<ul class="pager">
		<li class="previous"><a href="<%= strategy_path %>"><span aria-hidden="true">&larr;</span> Back</a></li>
	</ul>
</nav>

<div class="list-group">

	<div class="list-group-item active">

		<h2 class="list-group-item-heading">Forecheck</h2>

	</div>

	<div class="list-group-item">

		<h2 class="list-group-item-heading"></h2>

		<p>The purpose of the forecheck is to control the ice (mainly the nuetral zone), and rush the opposition, <b>NOT</b> to take the puck from players. Opportunities for takeaways will present themselves as a result of an efficient team forecheck. When you have control of the ice and dictate the opposition's breakout, it forces them to take risks, which will lead to turnovers.</p>

		<h4>All 3 FWD positions are inter-changeable. Be aware of who is assuming what role!</h4>

		<h4>A solid forecheck makes your defensemen's job easy. Stick to your responsibility and don't leave them hanging.</h4>

		<div class="row">

			<div class="col-md-6">

				<h4>Goals</h4>
				<ul>
					<li>Dictate where the puck goes</li>
					<li>Trap the puck to one side of the ice</li>
					<li>Force the opposition to take risks to create a clean breakout</li>
					<li>Force the opposition to dump the puck into spots that are easy to retreive</li>
				</ul>

			</div>

			<div class="col-md-6">

				<h4>Epectations</h4>
				<ul>
					<li><b>DO NOT</b> chase the puck</li>
					<li>Be aware your positioning to avoid taking penalties outside of our D zone</li>
					<li>Remember, they can't score from their zone <b>OR</b> the nuetral zone, so stay patient</li>
				</ul>

			</div>

		</div>

	</div>

</div>

<tabset>

	<tab heading="Concept">

		<div class="list-group tabbed">

			<div class="list-group-item">

				<h3 class="list-group-item-heading">Concept</h3>

				<p>In a perfect world the goal would be to force the opposition to carry the puck up the green arrows, protecting the red area.</p>

				<p>If we can force the puck carrier to try and enter the zone from positions "A" and "B" on the graphic, our D men should have no trouble standing the blue line and forcing a dump in.</p>

				<p>If we allow the opposition to bring the puck up through the middle (red area), our D men cannot stand the blue line and are forced to allow the puck carrier to cross.</p>

				<br>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-areas.png'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-areas.png',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<comments section="forecheck_concept"></comments>

		</div>

	</tab>

	<tab heading="Trap">

		<div class="list-group tabbed">

			<div class="list-group-item">

				<h3 class="list-group-item-heading">Trap</h3>

				<p>Lets start by getting to the end result first, then work our way back.</p>

				<p>In this example we've successfully forced the puck carrier up the left side. The strong side FWD (Blue) has the responsibility of not letting the puck carrier cut back to the middle. Blue "traps" the puck carrier into Yellow. The puck carrier has no option but to dump the puck in.</p>

				<p>Note that it is important that blue does not get over aggressive and allow the puck carrier the make a move around yellow, this will create an odd man situation. Yellow is trusting that he has support from blue. Yellow must recognize when he has no support from blue and know, that in such case, yellow cannot be aggressive at the blue line. If yellow is aggressive at the blue line, and FWD #5 makes a move around yellow, without support from blue, it will end in a 2 on 1 situation.</p>

				<p>If the puck carrier is able to make it around yellow, blue should continue back into the zone taking yellow's position, while yellow takes blue's position, until both have an opportunity to switch back.</p>

				<p><b>If you are a D-Man and you are going for a hit at the blue line, be sure you have an angle to complete a successful hit. Do not be over aggressive and give up position going for reckless hits, unless we are up by 5 goals, then anything goes!</b></p>

				<br>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-trap.gif'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-trap.gif',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<comments section="forecheck_trap"></comments>

		</div>

	</tab>

	<tab heading="First Man In">

		<div class="list-group tabbed">

			<div class="list-group-item">

				<h3 class="list-group-item-heading">First Man In</h3>

				<p>The first man in will try to dictate which side of the ice the puck will come up, allowing his teammates to read the play and take away options.</p>

				<p><b>DO NOT</b> chase the player behind the net, unless you can keep inside position on him.</p>

				<p>The first animation shows how chasing behind the net leads to 3 passing options for D #1. The second animation shows green properly waiting for D #1 to choose a side, then angling D #1 up that side of the ice, allowing his teammates the key on that. As a result, D #1 now only has one direct option.</p>

				<p>Notice something as simple as chasing behind the net and losing position gives the opposition every option they could hope for up the ice, leading to easy entry.</p>

				<p>Also notice the inside out angle green takes to eliminate a pass back across the ice. This angle takes away the D to D pass and makes the long pass up to FWD #4 difficult and risky, all while forcing the play up the left.</p>

				<h4>Keys for the First Man In</h4>
				<ul>
					<li>Keep inside position on the puck carrier</li>
					<li>Eliminate the puck carrier's option to pass up the middle or back across the ice</li>
					<li>Once you have dictated which side of the ice you are forcing the puck carrier, <b>DO NOT</b> allow him to chage sides</li>
				</ul>

				<br>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-A.gif'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-A.gif',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<comments section="forecheck_first_man_in"></comments>

		</div>

	</tab>

	<tab heading="Pinning">

		<div class="list-group tabbed">

			<div class="list-group-item">

				<h3 class="list-group-item-heading">Pinning</h3>

				<p>Once the opposition knows you are not going to chase them behind the net, we can pin them in their own zone.</p>

				<p>Notice how when green keeps D #1 pinned behind the net, D #1 can only pass up the sides (which feeds into our objective). D #1 can only pass to the green shaded area, the red shaded area (middle) is eliminated allowing green's teammates to key on their man.</p>

				<p>Red can now key on D #2, Blue can key on FWD #3, yellow on FWD #5, and teal on FWD #4.</p>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-B.gif'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-B.gif',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<comments section="forecheck_pinning"></comments>

		</div>

	</tab>

	<tab heading="Common Mistakes">

		<div class="list-group tabbed">

			<div class="list-group-item">

				<h3 class="list-group-item-heading">Common Mistakes</h3>

				<p>It is critical that everyone sticks to their responsibility. In this example green properly angles D #1 up the left side of the ice. Blue makes the mistake of chasing the puck and try's to double team D #1. This opens up the neutral zone and provides many options for the opposition.</p>

				<h4>Blue's Mistakes</h4>
				<ul>
					<li>Blue does not support yellow coming back up the ice. This does 2 things for yellow:
						<ol>
							<li>Yellow cannot pressure FWD #5 early allowing FWD #5 to gain the center line. Once FWD #5 gains the center line, FWD #5 can dump the puck to an un-guarded FWD #4, if under pressure. There is little chance of creating a turnover in the neutral zone if FWD #5 is allowed to gain the center line.</li>
							<li>Yellow is forced to back into the zone with the puck carrier allowing easy entry.</li>
						</ol>
					</li>
					<li>Blue also gives up a passing lane from FWD #5 to FWD #3. Once the puck is allowed to come up through the middle, the D have no choice but to back into the zone.</li>
				</ul>

				<h4>Result</h4>
				<p>By 2 forecheckers chasing the puck carrier, we now only have 2 D men and a third backchecker (Red, who is behind the play), protecting the neutral zone and blue line. This has created 4 on 3 situation in the neutral zone, leading to a 3 on 2 rush for the opposition.</p>

				<br>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-donts-A.gif'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-donts-A.gif',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<div class="list-group-item">

				<h3 class="list-group-item-heading">Fix</h3>

				<p>This time blue properly maintains his support role up the side boards. With blue's support, yellow can now pressure FWD #5 early making it difficult to gain the center line.</p>

				<p>Blue's positioning also takes away the pass option to the middle (FWD #3). FWD #5 is now in a difficult position where he cannot dump the puck in. His options are to force a pass to the middle, a soft chip up the puck side boards into the zone, or a long cross ice pass attempt to FWD #4. All have major risks of a turnover.</p>

				<p>Note red's positioning before D #1 makes the pass to FWD #5. Red is defending the passing lane from D #1 to FWD #4, then once the pass is made to FWD #5, red shifts to support the middle of the ice.</p>

				<br>

				<div align="center">
					<%= link_to asset_path('forecheck-1-2-2-donts-A-fix.gif'),target: '_blank' do %>
					<%= image_tag 'forecheck-1-2-2-donts-A-fix.gif',class: 'img-responsive' %>
					<% end %>
				</div>

				<br>

			</div>

			<comments section="forecheck_common_mistakes"></comments>

		</div>

	</tab>

</tabset>

<nav>
	<ul class="pager">
		<li class="previous"><a href="<%= strategy_path %>"><span aria-hidden="true">&larr;</span> Back</a></li>
	</ul>
</nav>