<ol class="breadcrumb">
	<li>
		<%= link_to 'Home',root_path %>
	</li>
	<li class="active">Strategy</li>
</ol>

<div class="list-group">

	<div class="list-group-item active">

		<h2 class="list-group-item-heading">Entry</h2>

	</div>

	<div class="list-group-item">

		<h2 class="list-group-item-heading"></h2>

		<p>Keeping speed through the neutral zone is the goal.</p>

		<tabset>

			<tab>

				<tab-heading>Scenario 1</tab-heading>

				<table class="table table-bordered no-top">
					<tbody>
						<tr>
							<td>

								<div align="center">
									<%= link_to asset_path 'entry-2-strong-side.gif',target: '_blank' do %>
									<%= image_tag 'entry-2-strong-side.gif',class: 'img-responsive' %>
									<% end %>
								</div>

								<h4>Notes</h4>

								<p>In this scenario the puck is pushed up the right side to blue. D #1 is being aggressive and steps up to challenge blue outside the blue line. Note how blue comes back to the puck slightly to give himself some room to operate.</p>

								<p>Blue is looking to see what D #2 does. Here D #2 takes away blue's direct passing option to red. This is an extremely aggressive approach by the defense. Since red is taken away, blue rims the puck around the boards hard where there is no defender to beat green to the puck.</p>

								<p>Red is anticipating recieving a pass, or if there is no pass, red should keep skating expecting a short chip to the right wing's side boards. Neither of those options are used in this scenario.</p>

								<p>Green must also payattention to what D #2 is doing so he can anticipate the rim around. Green must keep his speed up trusting that blue will know to rim the puck around.</p>

								<p>Once green retrieves the puck, he will be under significant pressure. To relieve pressure green can rim the puck quickly back to blue along the boards. If D #4 trys to pressure green, green can make the easy pass to yellow.</p>

							</td>
						</tr>
					</tbody>
				</table>

			</tab>

			<tab>

				<tab-heading>Scenario 2</tab-heading>

				<table class="table table-bordered no-top">
					<tbody>
						<tr>
							<td>

								<div align="center">
									<%= link_to asset_path 'entry-2-chip.gif',target: '_blank' do %>
									<%= image_tag 'entry-2-chip.gif',class: 'img-responsive' %>
									<% end %>
								</div>

								<h4>Notes</h4>

								<p>This scenario is the same, defensively, as the first. This time blue, again, see's that D #2 is stepping up to red, so blue chips (saucers) the puck to the short side boards.</p>

								<p>Red has full momentum into the zone. D #2 has momentum towards red. When red doesn't receive the puck, red should be able to blow by D #2 to reteive the puck on the short side boards.</p>

								<p>Once red retrieves the puck, he will be under significant pressure. To relieve pressure red can rim the puck quickly over to green along the boards.</p>

							</td>
						</tr>
					</tbody>
				</table>

			</tab>

		</div>

	</div>

	<div class="list-group">

		<div class="list-group-item active">

			<h2 class="list-group-item-heading">3 on 2 Rush</h2>

		</div>

		<div class="list-group-item">

			<h2 class="list-group-item-heading"></h2>

			<p>The puck is passed wide to a wing (Green). One defender must pickup the puck or the puck carrier (Green) will get an easy shot. The middle man (Red) drives the opposite post occupying the second defender. The opposite wide man (Blue) slides in to the open area behind the middle man (Red) looking to shoot.</p>

			<div align="center">
				<%= link_to asset_path('3-on-2.gif'),target: '_blank' do %>
				<%= image_tag '3-on-2.gif',class: 'img-responsive' %>
				<% end %>
			</div>

		</div>

	</div>

	<div class="list-group">

		<div class="list-group-item active">

			<h2 class="list-group-item-heading">Powerplay</h2>

		</div>

		<div class="list-group-item">

			<h2 class="list-group-item-heading">Umbrella Powerplay Options</h2>

			<p>All positions are pretty much interchangeable on the powerplay. Think of each color as spots, everyone should be able to play any spot.</p>

			<h4>Important Concepts</h4>

			<p>We are out numbering the defense high in the zone. Red, Teal and Blue have 2 defenders defending them. This is our point of puck control. In theory we should be able to hold the puck between the 3 of them for the entire powerplay if we chose not to shoot. We must know our options to relieve pressure for aggressive penalty killers. Do not panick, find the open man to relieve pressure.</p>

			<tabset>

				<tab>

					<tab-heading>Option 1</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>The first option is simple. We are trying to draw defender #4 low to open a one-T for yellow. See other options for counters.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Option 2</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot-counter-1.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot-counter-1.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>Defender #4 draws to green, defender #3 takes away the one-T for yellow, blue slides in backdoor where defender #3 was.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Option 3</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot-counter-2.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot-counter-2.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>Defender #4 draws to green, defender #3 takes away blue, defender #1 takes away yellow. Relay back to red then teal to look for the shot.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Option 4</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot-counter-3.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot-counter-3.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>Defender #4 draws to green, defender #3 takes away blue, defender #2 takes away yellow. Pass to red for the shot.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Option 5</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot-counter-4.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot-counter-4.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>Defender #4 takes away yellow, defender #3 takes away blue, green takes it to the net.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Option 6</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<div align="center">
										<%= link_to asset_path('pp-umbrella-low-slot-counter-5.gif'),target: '_blank' do %>
										<%= image_tag 'pp-umbrella-low-slot-counter-5.gif',class: 'img-responsive' %>
										<% end %>
									</div>

									<h4>Notes</h4>

									<p>Green takes the puck around the net to change sides for the powerplay. Same options available in reverse.</p>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

			</tabset>

		</div>

	</div>

	<div class="list-group">

		<div class="list-group-item active">

			<h2 class="list-group-item-heading">Breakout</h2>

		</div>

		<div class="list-group-item">

			<h2 class="list-group-item-heading">Basic D to D Underneath Breakout</h2>

			<div align="center">
				<%= link_to asset_path('d-back-pass.gif'),target: '_blank' do %>
				<%= image_tag 'd-back-pass.gif',class: 'img-responsive' %>
				<% end %>
			</div>

			<h4>Concept</h4>

			<p>This first example starts in your own d-zone with a significant amount of time for the defensemen to work with. The puck carrying defenseman starts by moving up the ice at an angle drawing the defense to one side of the ice. The supporting defenseman slides underneath the puck carrier creating and angle for a "reverse pass". Once the "reverse pass" is completed, with the defense drawn to one side of the ice, this should give the supporting defensemen time, speed, and momentum to make a play up the ice.</p>

			<tabset>

				<tab>

					<tab-heading>Defensemen</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<p>The key is for both defensemen to support eachother. As one d-man starts up the ice, looking for options, the other d-man should always create an option to reverse the puck and start the breakout in the opposite direction.</p>

									<p>In the above example, yellow starts up the ice, at an angle, drawing the defense to one side of the ice. He then reverses the puck to teal, which gives the entire breakout time to build momentum up the ice.</p>

									<div class="row">

										<div class="col-md-6">
											<h4>Options:</h4>
											<ul>
												<li>Pass to a forward who has time to make a play. (Do not pass your forwards into a big hit which can cause a bad turnover)</li>
												<li>Skate the puck into the zone, inheriting the risk that if you turn it over it will most likely end up in an odd man opportunity, or breakaway the other way.</li>
												<li>Dump the puck into the zone</li>
												<li>Reverse the puck to your D partner to start the breakout in the opposite direction</li>
											</ul>
										</div>

										<div class="col-md-6">
											<h4>Expectations:</h4>
											<ul>
												<li>Put your forwards in positions to make plays, not turnovers.</li>
												<li>If you are going to dump the puck in, do it high at the redline. This will allow the forwards to keep their speed into the zone. If you skate passed the redline, it will be presumed that you are skating into the zone, or rimming the puck around the boards.
												</li>
											</ul>
										</div>

									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Center</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<p>The center will be skating on 45&deg; lines up the ice presenting himself as an option for the defensemen.</p>

									<div class="row">

										<div class="col-md-6">
											<h4>Options:</h4>
											<ul>
												<li>Direct pass to either wing</li>
												<li>Shoot the puck on net creating a wide rebound for the wings to retrieve</li>
												<li>Saucer pass wide for the wings to retrieve</li>
												<li>Skate the puck deep into the zone</li>
											</ul>
										</div>

										<div class="col-md-6">
											<h4>Expectations:</h4>
											<ul>
												<li><b>Get the puck deep into the zone</b>. Turning the puck over on entry is unacceptable</li>
												<li>The defensemen must trust that you are not going to turn the puck over upon entry so they can join in the offensive zone</li>
											</ul>
										</div>

									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Wings</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<p>The wings need to stay wide to keep the defense spread out. Be sure not to get too close to the blue line before receiving the puck from your defensemen. This will give you a buffer to keep the opposing defensemen from aggressively stepping up on you. Once the puck is advanced to a forward, get your feet moving into the zone.</p>

									<div class="row">

										<div class="col-md-6">
											<h4>Options:</h4>
											<ul>
												<li>Direct pass to the wing or center</li>
												<li>Drop pass to incoming defensemen</li>
												<li>Shoot the puck on net creating a wide rebound for the wing or center to retrieve</li>
												<li>Rim the puck around the boards</li>
												<li>Skate the puck deep into the zone</li>
											</ul>
										</div>

										<div class="col-md-6">
											<h4>Expectations:</h4>
											<ul>
												<li><b>Get the puck deep into the zone</b>. Turning the puck over on entry is unacceptable</li>
												<li>Be there when the opposite wing rims the puck around the boards.</li>
												<li>The defensemen must trust that you are not going to turn the puck over upon entry so they can join in the offensive zone</li>
											</ul>
										</div>

									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

			</tabset>

		</div>

		<div class="list-group-item">

			<h2 class="list-group-item-heading">Standard D to D Rotating Breakout</h2>

			<div align="center">
				<%= link_to asset_path('breakout-rotating-standard.gif'),target: '_blank' do %>
				<%= image_tag 'breakout-rotating-standard.gif',class: 'img-responsive' %>
				<% end %>
			</div>

			<h4>Concept</h4>

			<p>This example starts in your own d-zone with a significant amount of time for the defensemen to work with. The defensemen are looking to pass wide D to D. When the D makes the pass, the wing on the side of the passing d-man, sweeps up the middle of the ice assuming the center's position. The player last playing the center position assumes the wing's position. This can continue forever until something opens up.</p>

			<tabset>

				<tab>

					<tab-heading>Defensemen</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<p>Both defensemen need to stay wide and present an option for a D to D pass. When the opportuniy presents itself, make the pass to a forward. The key is patience. This is designed for teams clogging the neutral zone.</p>

									<div class="row">

										<div class="col-md-6">
											<h4>Options:</h4>
											<ul>
												<li>Pass to a forward who has time to make a play. (Do not pass your forwards into a big hit which can cause a bad turnover)</li>
												<li>Skate the puck into the zone, inheriting the risk that if you turn it over it will most likely end up in an odd man opportunity, or breakaway the other way.</li>
												<li>Dump the puck into the zone</li>
												<li>Reverse the puck to your D partner to start the breakout in the opposite direction</li>
											</ul>
										</div>

										<div class="col-md-6">
											<h4>Expectations:</h4>
											<ul>
												<li>Put your forwards in positions to make plays, not turnovers.</li>
												<li>If you are going to dump the puck in, do it high at the redline. This will allow the forwards to keep their speed into the zone. If you skate passed the redline, it will be presumed that you are skating into the zone, or rimming the puck around the boards.
												</li>
											</ul>
										</div>

									</div>

								</td>
							</tr>
						</tbody>
					</table>

				</tab>

				<tab>

					<tab-heading>Forwards</tab-heading>

					<table class="table table-bordered no-top">
						<tbody>
							<tr>
								<td>

									<p>All three forward positions are interchangeable in this breakout. Timing is key.</p>

								</div>

							</td>
						</tr>
					</tbody>
				</table>

			</tab>

		</tabset>

	</div>

</div>
