<!DOCTYPE html>
<html>
<head>
	<title><%= TITLE %></title>
	<script type="text/javascript">var current_user = <%= current_user.to_json(except: :password_digest).html_safe %>;</script>
	<link rel="shortcut icon" href="<%= asset_path 'logo.png' %>" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body ng:controller="Ctrl" data-spy="scroll" data-target="#myScrollspy">

	<nav class="navbar navbar-default">
		<div class="container">

			<div class="navbar-header">
				<div class="container-fluid">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to dashboard_path,class: 'navbar-brand' do %>
					<span><%= image_tag 'logo.png',height: 20 %></span>
					<% end %>
				</div>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li></li>
					<li><%= link_to 'Members',users_path %></li>
					<li><%= link_to 'Strategy',strategy_path %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to current_user.gamertag,current_user %></li>
					<li><%= link_to logout_path do %><%= icon 'log-out' %><% end %></li>
				</ul>
			</div>
			
		</div>
	</nav>

	<div class="container" ng:show="loaded">

		<!--<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>-->

		<!-- <soundcloud></soundcloud> -->

		<% flash.each do |type,message| %>
		<alert type="<%= type %>"><%= message %></alert>
		<% end %>

		<div plangular="https://soundcloud.com/highbrow-lowstache/the-notorious-b-i-g-machine">

			<div class="alert alert-info forever" role="alert">

				<div class="row">
					<div class="col-md-12">

						<a href="" ng-click="play()"><%= icon 'step-backward' %></a>

						<a href="" ng-click="play(); playing = true" ng:show="!playing"><%= icon 'play' %></a>
						<a href="" ng-click="pause(); playing = false" ng:show="playing"><%= icon 'pause' %></a>

						<a href="" ng-click="play()"><%= icon 'step-forward' %></a>

						&nbsp;&nbsp;

						{{ currentTime | hhmmss }}&nbsp;/&nbsp;{{ duration | hhmmss }}

						&nbsp;&nbsp;

						{{track.title}}

					</div>
				</div>

			</div>

		</div>

		<%= yield %>

	</div>

</body>
</html>